# Use DEPLOY in production
ENV_TYPE=DEPLOY

# Napcat Websocket Config
# Default 127.0.0.1
NC_HOST=
# Default 6020
NC_PORT=
NC_TOKEN=
# ws / wss
# Default ws
NC_PROTOCOL=

# Bot Config
# Default 0
BOT_ADMIN=

# Web Config
# Default 7001
WEB_PORT=
WEB_TOKEN=